*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito';
}
nav{
    /* border: 2px solid; */
    height: 110px;
    background: rgba(0, 0, 0, .12);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 600px;
    position: fixed;
    width: 100%;
    
}
img{
    /* border: 2px solid; */
    height: 80px;
    width: 200px;
}
nav #div1 ol{
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 17px;
    justify-content:center;
    gap: 40px;
    width: 450px;
    color:white;
    

}
nav a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
nav a:hover{
   color: blueviolet;
}
main{
    height: 100vh;
    /* border: 2px solid; */
    background-image: url(./Assets/banner.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center;
    display: flex;
    align-items: center;
}
main h1{
    position: relative;
    color: #fff;
    font-size: 3.8vw;
    width: 50vw;
    letter-spacing: 2px;
    left: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#section1{
    height: 1700px;
    /* border: 2px solid; */
    background: #f5f5f5;
}
#section1 div{
    border: 2px red;
}
#section1 #div1 p{
    font-size: 21px;
    color: #424242;
    font-weight: 400;
    font-family: nunito;
    width: 650px;
}
#section1 #div1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 200px; */
}
#section1 #div1 img{
   height: 150%;
    width: 450px;
}
#section1 #div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
#section1 #div2 img{
    height: 450px;
    width: 600px;
}
#section1 #div2 p{
    font-size: 21px;
    color: #424242;
    font-weight: 400;
    font-family: nunito;
    width: 590px;
}
#section1 #div3 img{
    height: 450px;
    width: 600px;
}
#section1 #div3 p{
    font-size: 21px;
    color: #424242;
    font-weight: 400;
    font-family: nunito;
    width: 620px;
}
#section1 #div3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
#section1 #div4 #aside1 .span1{
    font-size: 26px;
    font-weight: 700;
    color: #424242;
}
#section1 #div4 #aside1 .spaan{
    font-size: 20px;
    font-weight: 700;
    color: #424242;
}
#section1 #div4 #aside1 h1{
    font-size: 46px;
    font-weight: 700;
    color: #424242;
}
#section1 #div4 #aside2 h1{
    font-size: 46px;
    font-weight: 700;
    color: #424242;
}
#section1 #div4 #aside2 i{
    font-size: 40px;
    color: #ff5672;

}
#section1 #div4 #aside1{
    width: 100px;
}
#section1 #div4 #aside2{
    width: 600px;
}
#div4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
}
#aside2 div{
    display: flex;
    gap: 40px;
}
#section5 div{
    height: 60px;
    width: 60px;
    background-color: #ff5672;
    border-radius: 34px 8px 34px 34px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .26);
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

footer{
    height: 50px;
    background: linear-gradient(90deg, #C77BF4 0%, #FF5672 100%);
    box-shadow: -5px -5px 19px rgba(0, 0, 0, .23);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 15px;
    font-weight: 400;
}