*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito';
}
nav{
    /* border: 2px solid; */
    height: 110px;
    background: rgba(0, 0, 0, .12);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 600px;
    position: fixed;
    width: 100%;
    
}
img{
    /* border: 2px solid; */
    height: 80px;
    width: 200px;
}
nav #div1 ol{
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 17px;
    justify-content:center;
    gap: 40px;
    width: 450px;
    color:white;
    

}
nav a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
nav a:hover{
   color: blueviolet;
}
main{
    height: 825px;
    /* border: 2px solid green; */
    background-image: url(./Assets/app-link-background.svg);
    background-repeat: no-repeat;
    background-size:110%;
    text-align: center;
}
main h1{
    color: white;
    font-size: 5em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main h3{
    color: white;
    font-weight: 600;
    font-size: 1.17em;
}
main #button1{
    background: #FF5672;
    width: 195px;
    color: white;
    font-size: 19px;
    font-weight: 700;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    height: 50px;
}
main #button2{
    background-image: url(./Assets/ios-store.svg);
    height: 70px;
    width: 203px;
    background-repeat: no-repeat;
    background-size: 210px;
    background-position: center;
   border-radius: 10px;
}
main #button3{
    background-image: url(./Assets/google-play-badge.svg);
    height: 70px;
    width: 220px;
    background-repeat: no-repeat;
    background-size: 235px;
    background-position: center;
    border-radius: 10px;
}
main div{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#section1{
    /* border: 2px solid blue; */
    height: 670px;
    background-color: whitesmoke;
}
#section1 h1{
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    color: #424242;
}
#section1 div{
    /* border: 2px solid red; */
    height: 400px;
    text-align: center;
    width: 260px;
}
#section1 img{
    height: 200px;
    width: 200px;
}
#section1 p{
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Nunito';
    -webkit-tap-highlight-color: transparent;

}
#section1 aside{
    display: flex;
    justify-content: center;
    align-items: center;
}
#section2{
    /* border: 2px solid blue; */
    height: 1050px;
    background: url(https://knight-bite.com/res/index/banner-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}  
#section2 h1{
    color: white;
    font-size: 6em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#section3 h1{
    color: white;
    font-size: 5em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#section3 button{
    width: 250px;
    border: 1.3px solid #fff;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    height: 60px;
    background: none;
}
#section3 a:visited{
    color: white;
}
#section3 a{
    text-decoration: none;
}
#section3{
    height: 970px;
    background: url(https://knight-bite.com/res/index/banner-2.webp);
    background-size: cover;
    text-align: center;
}
#section4{
    height: 870px;
    background: #f5f5f5;
    /* border: 2px solid blue; */
}
#section4 h1{
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    color: #424242;
    font-family: 'Nunito';
}
/* #section4 #aside2 div{
    border: 2px solid;
} */
#section4 #aside1{
    display: flex;
    justify-content: space-around;
}
#section4 #aside1 #div1 h3{
    font-size: 30px;
    font-weight: 700;
    color: #424242;
}
#section4 #aside1 #div1 ul{
    font-size: 20px;
    color: #424242;
    font-weight: 400;
    list-style: none;
}
#section4 #aside1 #div2 h3{
    font-size: 30px;
    font-weight: 700;
    color: #424242;
}

#section4 #aside1 #div2 ul{
    color: #ff5672;
    font-size: 20px;
    font-weight: 400;
    list-style-type: disc;
}
#section4 #aside1 #div2 ul:hover{
    cursor: pointer;
}
#section4 #aside1 #div3 p{
    font-size: 20px;
    font-weight: 400;
}
#section4 #div4{
    display: flex;
}
#section4 #aside1 #div3 input{
    width: 500px;
    height: 60px;
    font-size: 24px;
    border-radius: 50px;
    border: 1px solid;
    padding: 35px 80px 35px 35px; 
}
#section4 #aside1 #div3 button{
    background-image: url(./Assets/email-btn.svg);
    height: 75px;
    width: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 50px;
    position: relative;
    right: 60px;
    bottom: 3px;
    border: none;
    cursor: pointer;
}
#section4 #aside1 #div3 button:hover{
    height: 76px;
    width: 76px;
}
#section4 #aside2 div h3{
    font-size: 30px;
    font-weight: 700;
    color: #424242;
}
#section4 #aside2 #div1 p{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Nunito';
}
#section4 #aside2 #div2 li{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Nunito';
}
#section4 #aside2 #div3 i{
    font-size: 40px;
    font-weight: 400;
    color: #ff5672 ;

}
#section4 #aside2{
    display: flex;
    justify-content: space-evenly;
}
#section4 #aside2 #div2{
    width: 400px;
}
#section4 #aside2 #div3 div{
    width: 500px;
    gap: 30px;
    display: flex;
    /* justify-content: center; */
    
}
#section4 #aside2 #div1{
    width: 400px;
}
#div0{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#div0 #a1{
    height: 70px;
    width: 70px;
    
}
#div0 #a2{
    height: 40px;
    width: 40px;
    
}
#div0{
    
    position: absolute;
    right: 700px;
   

}
#section5 div{
    height: 60px;
    width: 60px;
    background-color: #ff5672;
    border-radius: 34px 8px 34px 34px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .26);
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
/* i{
    height: 50px;
    width: 50px;
} */
footer{
    height: 50px;
    background: linear-gradient(90deg, #C77BF4 0%, #FF5672 100%);
    box-shadow: -5px -5px 19px rgba(0, 0, 0, .23);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 15px;
    font-weight: 400;
}